
/AudioletLibrary/bin/Debug/AudioletLibrary.dll
/AudioletLibrary/bin/Debug/AudioletLibrary.txt
/AudioletLibrary/bin/Debug/AudioletLibrary.xml
/AudioletLibrary/bin/Debug/Script.Web.dll
/AudioletLibrary/bin/Debug/Script.Web.xml
/AudioletLibrary/bin/Debug/mscorlib.dll
/AudioletLibrary/bin/Debug/mscorlib.xml
/AudioletLibrary/obj/Debug/AudioletLibrary.csproj.FileListAbsolute.txt
/AudioletLibrary/obj/Debug/AudioletLibrary.dll
/AudioletLibrary/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/BrowserLibraries/bin/Debug/BrowserLibraries.dll
/BrowserLibraries/bin/Debug/BrowserLibraries.txt
/BrowserLibraries/bin/Debug/BrowserLibraries.xml
/BrowserLibraries/bin/Debug/Script.Web.dll
/BrowserLibraries/bin/Debug/Script.Web.xml
/BrowserLibraries/bin/Debug/mscorlib.dll
/BrowserLibraries/bin/Debug/mscorlib.xml
/BrowserLibraries/obj/Debug/BrowserLibraries.csproj.FileListAbsolute.txt
/BrowserLibraries/obj/Debug/BrowserLibraries.dll
/BrowserLibraries/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/JSawScript/bin/Debug/JSawScript.debug.js
/JSawScript/bin/Debug/JSawScript.dll
/JSawScript/bin/Debug/JSawScript.js
/JSawScript/bin/Debug/JSawScript.xml
/JSawScript/bin/Debug/mscorlib.debug.js
/JSawScript/bin/Debug/mscorlib.js
/JSawScript/index.html
/JSawScript/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/JSawScript/obj/Debug/JSawScript.csproj.FileListAbsolute.txt
/JSawScript/obj/Debug/JSawScript.csprojResolveAssemblyReference.cache
/JSawScript/obj/Debug/JSawScript.dll
/JSawScript/obj/Debug/JSawScript.pdb
/_ReSharper.JSawScript/AspFileDataCache.dat
/_ReSharper.JSawScript/BuildScriptCache/.crc
/_ReSharper.JSawScript/BuildScriptCache/.version
/_ReSharper.JSawScript/BuildScriptCache/8/713ca7c6.dat
/_ReSharper.JSawScript/ConditionalNames/.crc
/_ReSharper.JSawScript/ConditionalNames/.version
/_ReSharper.JSawScript/ConditionalNames/8/713ca7c6.dat
/_ReSharper.JSawScript/JSTest/.crc
/_ReSharper.JSawScript/JSTest/.version
/_ReSharper.JSawScript/JavaScriptCache/.crc
/_ReSharper.JSawScript/JavaScriptCache/.version
/_ReSharper.JSawScript/JavaScriptCache/8/713ca7c6.dat
/_ReSharper.JSawScript/MVC/.crc
/_ReSharper.JSawScript/MVC/.version
/_ReSharper.JSawScript/NamedArguments/.crc
/_ReSharper.JSawScript/NamedArguments/.version
/_ReSharper.JSawScript/NamedArguments/8/713ca7c6.dat
/_ReSharper.JSawScript/PersistenIdIndex.bin
/_ReSharper.JSawScript/RecentItems/RecentFiles.dat
/_ReSharper.JSawScript/Resources/.crc
/_ReSharper.JSawScript/Resources/.version
/_ReSharper.JSawScript/SymbolCache.bin
/_ReSharper.JSawScript/TagPrefixes/.crc
/_ReSharper.JSawScript/TagPrefixes/.version
/_ReSharper.JSawScript/TodoItems/.crc
/_ReSharper.JSawScript/TodoItems/.version
/_ReSharper.JSawScript/TodoItems/8/713ca7c6.dat
/_ReSharper.JSawScript/WebSymbols/.crc
/_ReSharper.JSawScript/WebSymbols/.version
/_ReSharper.JSawScript/WebSymbols/2/4a2883fb.dat
/_ReSharper.JSawScript/WordIndex/.crc
/_ReSharper.JSawScript/WordIndex/.version
/_ReSharper.JSawScript/WordIndex/8/713ca7c6.dat
/_ReSharper.JSawScript/XmlIndex/Script.Knockout.xml/3681ECBE.bin
/_ReSharper.JSawScript/XmlIndex/Script.Web.xml/7F7FF162.bin
/_ReSharper.JSawScript/XmlIndex/System.4.0.0.0.Contracts.xml/7458FC03.bin
/_ReSharper.JSawScript/XmlIndex/System.4.0.0.0.Nullness.Generated.xml/5304AF33.bin
/_ReSharper.JSawScript/XmlIndex/System.4.0.0.0.Pure.xml/403889F0.bin
/_ReSharper.JSawScript/XmlIndex/System.Configuration.4.0.0.0.Contracts.xml/8AA99CC3.bin
/_ReSharper.JSawScript/XmlIndex/System.Configuration.4.0.0.0.Nullness.Generated.xml/5C04A9F3.bin
/_ReSharper.JSawScript/XmlIndex/System.Configuration.4.0.0.0.Pure.xml/A30FD330.bin
/_ReSharper.JSawScript/XmlIndex/System.Configuration.xml/092A1070.bin
/_ReSharper.JSawScript/XmlIndex/System.Core.4.0.0.0.Contracts.xml/9A69C6A3.bin
/_ReSharper.JSawScript/XmlIndex/System.Core.4.0.0.0.Nullness.Generated.xml/8E5F4293.bin
/_ReSharper.JSawScript/XmlIndex/System.Core.4.0.0.0.Pure.xml/D7464B10.bin
/_ReSharper.JSawScript/XmlIndex/System.Core.LinqTunnel.xml/63F26974.bin
/_ReSharper.JSawScript/XmlIndex/System.Core.Nullness.Manual.xml/31BDD0E2.bin
/_ReSharper.JSawScript/XmlIndex/System.Data.SqlXml.4.0.0.0.Nullness.Generated.xml/B9F432D3.bin
/_ReSharper.JSawScript/XmlIndex/System.Data.SqlXml.xml/48CF6F29.bin
/_ReSharper.JSawScript/XmlIndex/System.I18n.xml/E767B348.bin
/_ReSharper.JSawScript/XmlIndex/System.Nullness.Manual.xml/AC02D602.bin
/_ReSharper.JSawScript/XmlIndex/System.Numerics.4.0.0.0.Nullness.Generated.xml/0D729213.bin
/_ReSharper.JSawScript/XmlIndex/System.Numerics.xml/F65D6778.bin
/_ReSharper.JSawScript/XmlIndex/System.Security.4.0.0.0.Contracts.xml/203E41A3.bin
/_ReSharper.JSawScript/XmlIndex/System.Security.4.0.0.0.Nullness.Generated.xml/F66E1D93.bin
/_ReSharper.JSawScript/XmlIndex/System.Security.4.0.0.0.Pure.xml/3CA1E610.bin
/_ReSharper.JSawScript/XmlIndex/System.Security.xml/55841E76.bin
/_ReSharper.JSawScript/XmlIndex/System.Xml.4.0.0.0.Contracts.xml/53D95363.bin
/_ReSharper.JSawScript/XmlIndex/System.Xml.4.0.0.0.Nullness.Generated.xml/DD97C153.bin
/_ReSharper.JSawScript/XmlIndex/System.Xml.4.0.0.0.Pure.xml/5A1C7B50.bin
/_ReSharper.JSawScript/XmlIndex/System.Xml.Attributes.xml/09EED2C9.bin
/_ReSharper.JSawScript/XmlIndex/System.Xml.I18n.xml/8B551FA8.bin
/_ReSharper.JSawScript/XmlIndex/System.Xml.xml/48B5EA79.bin
/_ReSharper.JSawScript/XmlIndex/System.xml/74BB9F68.bin
/_ReSharper.JSawScript/XmlIndex/System.xml/C3B3EEEE.bin
/_ReSharper.JSawScript/XmlIndex/mscorlib.4.0.0.0.Contracts.xml/0DED0883.bin
/_ReSharper.JSawScript/XmlIndex/mscorlib.4.0.0.0.Interfaces.Nullness.Generated.xml/620DC5CB.bin
/_ReSharper.JSawScript/XmlIndex/mscorlib.4.0.0.0.Nullness.Generated.xml/772ECBB3.bin
/_ReSharper.JSawScript/XmlIndex/mscorlib.4.0.0.0.Pure.xml/6572C670.bin
/_ReSharper.JSawScript/XmlIndex/mscorlib.I18n.xml/366D6FC8.bin
/_ReSharper.JSawScript/XmlIndex/mscorlib.Nullness.Manual.xml/A029C282.bin
/_ReSharper.JSawScript/XmlIndex/mscorlib.ValueFlow.xml/4E59B0BF.bin
/_ReSharper.JSawScript/XmlIndex/mscorlib.xml/05998BE8.bin
/_ReSharper.JSawScript/XmlIndex/mscorlib.xml/743ADB6C.bin
/_ReSharper.JSawScript/XmlIndex/mscorlib.xml/E5458374.bin
/_ReSharper.JSawScript/XmlIndex/system.core.xml/11686E5B.bin
*.suo